@import "variable.scss";

*{
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: $skyblue;
  background-image: url(../img/background.png);
  position: relative;
}

.header {
  position: relative;
  top: 12vh;
  h1, p{
    color: white;
    text-align: center;
  }
}

.image {
  .biplane {
    position: relative;
    top: 25vh;
    display: block;
    margin: auto;
    z-index: 1;
  }
  .cloud1 {
    opacity: 0.5;
    position: relative;
  }
}
